<h3 ng-show="attendee.attendeeVTID" attendee-title></h3>
<h3 ng-hide="attendee.attendeeVTID" class="isNotValid">No attendee found for {{attendeeVTID}}</h3>

<div ng-show="attendee.attendeeVTID">

    <form role="form" class="form-horizontal" novalidate>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="attendee.attendeeVTID">AttendeeVTID</label>

            <div class="col-lg-10">
                <input class="form-control" type="text"
                       id="attendee.attendeeVTID"
                       data-ng-model="attendee.attendeeVTID"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="attendee.title">Titre</label>

            <div class="col-lg-10">
                <input class="form-control" type="text"
                       id="attendee.title"
                   data-ng-model="attendee.title"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="attendee.firstName">First Name</label>

            <div class="col-lg-10">
                <input class="form-control" type="text"
                       id="attendee.firstName"
                       data-ng-model="attendee.firstName"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="attendee.lastName">Last Name</label>

            <div class="col-lg-10">
                <input class="form-control" type="text"
                       id="attendee.lastName"
                       data-ng-model="attendee.lastName"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="attendee.Company">attendee.Company</label>

            <div class="col-lg-10">
                <input class="form-control" type="text"
                       id="attendee.Company"
                       data-ng-model="attendee.Company"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="attendee.Phone">Phone</label>

            <div class="col-lg-10">
                <input class="form-control" type="text"
                       id="attendee.Phone"
                       data-ng-model="attendee.Phone"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="attendee.email">Email</label>

            <div class="col-lg-10">
                <input class="form-control" type="text"
                       id="attendee.email"
                       data-ng-model="attendee.email"/>
            </div>
        </div>

        <button class="btn btn btn-primary" data-ng-click="getAttendees(attendee)">Back</button>
        <button class="btn btn btn-warning" data-ng-click="saveAttendee(attendee)">Save</button>
        <button class="btn btn btn-danger" data-ng-click="removeAttendee(attendee)">Remove</button>
        <button class="btn btn btn" data-ng-click="cancel()">Cancel</button>
    </form>
</div>